.mantine-Navbar-root {
  background-color: var(--mantine-color-gray-9);
  padding: 0px;
  .header {
    padding: 24px;
  }
  .nav-links {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    color: var(--mantine-color-gray-0);
    .mantine-NavLink-root {
      padding: 12px 0px 12px 24px;
      transition: all 0.3s;
      color: var(--mantine-color-gray-0);
      &:hover {
        background-color: unset;
      }
      &[data-active] {
        transition: all 0.3s;
        border-left: 2px solid var(--mantine-color-gray-0);
        background-color: var(--mantine-color-gray-5);
        padding-left: 48px;
        font-weight: 700;
      }
      .mantine-NavLink-description {
        display: none;
      }
    }
  }
  .mantine-Title-root {
    color: var(--mantine-color-gray-0);
  }
}
