.mantine-Button-root {
  height: 35;
  color: var(--mantine-color-gray-0);
}


// variants
.primary {
  background-color: var(--mantine-color-gray-9);
  &:hover {
    background-color: var(--mantine-color-gray-9);
  }
}
.secondary {
  background-color: var(--mantine-color-gray-4);
  &:hover {
    background-color: var(--mantine-color-gray-4);
  }
}
.delivered {
  background-color: var(--mantine-color-green-6);
  &:hover {
    background-color: var(--mantine-color-green-6);
  }
}
.shipped {
  background-color: var(--mantine-color-blue-3);
  &:hover {
    background-color: var(--mantine-color-blue-3);
  }
}
.notDelivered {
  background-color: var(--mantine-color-red-4);
  &:hover {
    background-color: var(--mantine-color-red-4);
  }
}
